*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline: 1px solid red; */
}
header{ 
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 8px 0px rgb(231, 222, 222);
    cursor: default;
}
.logo{
    width: 200px;
}
header nav strong{
    color: #F24B78;
}
header nav a{
    margin: auto; 
    font-family: 'Montserrat', sans-serif;
    color: #373F41;
    font-size: 1.1em;
}
header nav a:hover{
    color: #F24B78;
    transition: .3s;
}

header button{
    background-color: #F24B78;
    border: 0;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}
header button:hover{
    background-color: #c43f62;
    transition: .4s;
}
button a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
main{
    width: 100%;
}
section img{
    height: 40%;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
section .intro{
    text-align: center;
    line-height: 4em;
}
section .intro h3{
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    color: #030140;
}
section .intro .finas{
    font-weight: 500;
}
section .intro .bold{
    font-weight: 900;
    font-size: 3em;
}
section .container .intro{
    align-self: center;
}
section .container .mulher{
    align-self: flex-end;
}
.intro button{
    background-color: #030140;
    width: 500px;
    height: 50px;
    border-radius: 30px;
}
.intro button:hover{
    background-color: #F24B78;
    transition: .5s;
    border: none;
    cursor: pointer;
}
.section2{
    max-width: 1550px;
    margin: auto;
}
section .design{
    display: flex;
    color: #030140;
    font-family: 'Inter', sans-serif;
    font-weight: 700px;    
    font-size: 45px;
    justify-content: center;
    margin: 100px 0;
}
.secundaria{
    display:flex;
    font-family: 'Inter', sans-serif;
    margin-bottom: 100px;
}
.secundaria div{
    padding: 0 20px;    
}
.secundaria h3{
    font-weight: 600;
    font-size: 1.8em;
    color: #030140;
    padding: 10px 0;
}
.secundaria p{
    font-size: 1.5em;
    color: #030140;
}

.secundaria img{
    width: 50%;
}
.section3{
    background-color: #05016e;
}
.title{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.title h1{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: white;
}
.title img{
    width: auto;
    height: auto;
}
.container-pat{
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1400px;
    margin: auto;
    padding: 0 30px;
}
.container-pat div{
    text-align: center;
}
.section3 .title-final{
    text-align: center;
}
.section3 .title-final h1{
    font-family: 'Inter', sans-serif;
    color: white;
}




@media (max-width: 800px){
    header nav, header button{
        display: none;
    }
    section .container{
        display: block;
        
    }
    .container .intro{
        margin: 40px 0;
    }
    section .container .img-principal{
        width: 100%;
    }
}