*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #030140;
}
strong{
    color: #F24B78;
}
.section2, .section4, .section5, .section6, .mid-section{
    max-width: 1750px;
    margin: auto;
}
header{ 
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 8px 0px rgb(231, 222, 222);
    cursor: default;
}
.logo{
    width: 200px;
}
header nav a{
    margin: auto; 
    font-family: 'Montserrat', sans-serif;
    color: #373F41;
    font-size: 1.1em;
    padding: 0 10px;
}
header nav a:hover{
    color: #F24B78;
    transition: .3s;
}

header button{
    background-color: #F24B78;
    border: 0;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}
header button:hover{
    background-color: #c43f62;
    transition: .4s;
}
button a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
button{
    background-color: #030140;
    width: 500px;
    height: 50px;
    border-radius: 30px;
}
button:hover{
    background-color: #F24B78;
    transition: .5s;
    border: none;
    cursor: pointer;
}
main{
    width: 100%;
}

section img{
    height: 40%;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
section .intro{
    text-align: center;
    line-height: 4em;
}
section .intro h3{
    font-size: 2em;
    color: #030140;
}
section .intro .finas{
    font-weight: 500;
}
section .intro .bold{
    font-weight: 900;
    font-size: 3em;
}
section .container .intro{
    align-self: center;
}
section .container .mulher{
    align-self: flex-end;
}

section .design{
    display: flex;
    font-weight: 700px;    
    font-size: 45px;
    justify-content: center;
    margin: 100px 0;
}
.secundaria{
    display: flex;
    margin-bottom: 100px;
    padding: 0 20px; 
    text-align: center;   
}
.secundaria h3{
    font-weight: 600;
    font-size: 1.8em;
    padding: 10px 0;
}
.secundaria p{
    font-size: 1.5em;
}

.secundaria img{
    width: 50%;
}
.section3{
    background-color: #05016e;
    padding: 100px 0;
}
.title{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.title h1{
    font-size: 50px;
    color: white;
}
.title img{
    width: auto;
    height: auto;
}
.container-pat{
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1400px;
    margin: auto;
    padding: 0 30px;
}
.container-pat div, .title-final{
    text-align: center;
}
.title-final h1{
    color: white;
}
.section4{
    display: flex;
    justify-content: center;
    padding: 200px 0;
}
.section4 img{
    width: 100vh;
    height: 100vh;
    top: 200px;
}
.section4 div{
    padding-left: 100px;
    line-height: 1.9em;
}
.section4 h1{
    color: #F24B78;
    font-size: 3em;
    margin-bottom: 30px;
}
.section4 h2{
    color: #05016e;
    font-size: 2em;
    margin: 50px 0 10px 0;
}
.section4 p{
    color: #05016e;
    font-size: 1.5em;
}
.title-mid{
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 100px;
}
.mid-section{    
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 40px;
}
.mid-section img{
    width: 200px;
}
.mid-section div{
    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    justify-items: center;
    box-shadow: 1px 2px 4px 1px rgb(143, 141, 141);
}
.mid-section img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.mid-section p{
    font-size: 1.6em;
}




.text{
    text-align: center;
    width: 1000px;
    margin: 60px auto;
}
.text h1{
    font-size: 3em;
    margin-bottom: 30px;
}
.text p{
    font-size: 1.5em;
    margin-bottom: 20px;
}
.section6{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.section6 .funciona{
    width: 1500px;
    height: 400px;
}
.section6 img{
    width: 100%;
    height: 100%;
}
.section6 .lista{
    margin-left: 100px;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
}
li{
    margin-bottom: 30px;
}
footer li{
    display: block;
}
footer .radio{
    position: relative;
}
.radio button{
    position: absolute;
    left: 100px;
    bottom: 1px;
}
.footer-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F24B78;
    padding: 50px 0;
    margin: 50px 0;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
footer button{
    background-color: #05016e;
    border: 0;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}
.footer-social{
    text-align: center;
}




@media (max-width: 1400px){
     .mulher{
        display: none;
    }

    section .container{
        display: block;
        margin: 100px 0;
    }
    .secundaria{
        display: grid;
        grid-template-columns: auto auto;
    }
    .container .intro{
        margin: 40px 0;
    }
    .container-pat{
        display: grid;
        grid-template-columns: auto auto;
    }
    .section4{
        display: block;
        width: 100vh;
        margin: auto;
    }
    .section4 img{
        width: 100%;
    }
}